<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/commonScripts")
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderSection("scripts", required: false)
    <header>   
            <div id="logo">    
                   ELSEVIER    
            </div>     
    </header>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
        © 2018 Elsevier B.V. All Rights Reserved.
    </div>
    <div class="progress-indicator" style="display: none;">
        <img src="@Url.Content("~/Content/images/loader_big.gif")" alt="" />
    </div>   
</body>
</html>
