<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/commonScripts")
</head>
<body>
    @RenderSection("scripts", required: false)
    <header>
        <div class="content-wrapper">
            <div id="logo">
                <div style="float:left;"><img src="~/Content/images/Logo.png" /></div>
                <div style="float:right;">
                <div id="logoTitle" style="vertical-align:top">Knovel</div>
                <div id="logoTitleSmall" style="vertical-align:bottom">Materials Solutions</div>
                    </div>
            </div>
            <div id="logged-user" class="normalFont">
                @*@Html.ActionLink("My Knovel", "")
                @Html.ActionLink("Peter Svenson", "")*@
                <a href="#">My Knovel</a>
                <a href="#">Peter Svenson</a>
            </div>
            <div class="horizontalLine">
            </div>
            <div id="site-map" class="normalFont">
                @Html.ActionLink("Home", "Index")
                @*@Html.ActionLink("Info ", "")
                @Html.ActionLink("Community", "")
                @Html.ActionLink("Share", "")
                @Html.ActionLink("History", "")
                @Html.ActionLink("Support", "")*@


                @*<a href="#">Home</a>*@
                <a href="#">Info </a>
                <a href="#">Community</a>
                <a href="#">Share</a>
                <a href="#">History</a>
                <a href="#">Support</a>
            </div>
            <div style="clear:both;"></div>           
        </div>
    </header>
    <div id="main">
        @RenderBody()

         <div id="overlay" class="overlayPopUp" style="display: none;">
        <div id="popup" style="display: none;">
            <div id="popupTitle"></div>
            <div id="popupClose"></div>
            <div id="popupContainer"></div>
        </div>
    </div>

          <div id="confirmContainer" style="display: none; font-size: 1.2em;">
        <div id="confirm">
            <div id="confirmMessage"></div>
            <br />



            <a href="#" class="confirmOkButton" onclick="" id="confirmOk"><span>OK</span></a>
            <a href="#" class="reset" onclick="" id="confirmCancel"><span>Cancel</span></a>


            @*<input class="okConfirm" type="button" name="name" value="OK" />
            <input class="cancel" type="button" name="name" value="Cancel" />*@
            @*@Html.KtmButton(ButtonType.ConfirmOkButton, Html.Translation("Main", "OK"), "#", "", new Dictionary<string, string>() { { "id", "confirmOk" } })
            @Html.KtmButton(ButtonType.Reset, Html.Translation("Main", "Cancel"), "#", "", new Dictionary<string, string>() { { "id", "confirmCancel" } })*@

        </div>
    </div>
    </div>


    <div id="footer">
        
        © 2018 Elsevier B.V. All Rights Reserved.
    </div>
        <div class="progress-indicator" style="display: none;">
        <img src="@Url.Content("~/Content/images/loader_big.gif")" alt="" />
    </div>
</body>
</html>
